@using Volo.Abp.Ui.Branding
@inject IBrandingProvider BrandingProvider
<div class="brand-logo layout2-logo" style="max-width:179px;">
    <a href="#">
        <img src="@BrandingProvider.LogoUrl" alt="@BrandingProvider.AppName" class="img-fluid blur-up lazyload" style="min-width:179px">
    </a>
</div>