@page
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@model Dev.Store.AspNetCore.Mvc.UI.Theme.MultiKart.Pages.Login.IndexModel
@{
}


<form data-ajaxForm="true" asp-page="/Categories/EditModal" autocomplete="off" id="categoryForm">
    <abp-modal size="Large">

        <abp-modal-body>
            seyit
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
