@using System.Linq
@using Microsoft.AspNetCore.Http.Extensions
@using Dev.Store.AspNetCore.Mvc.UI.Theme.MultiKart.Themes.Basic.Components.Toolbar.LanguageSwitch
@model LanguageSwitchViewComponentModel
@if (Model.OtherLanguages.Any())
{
    <ul>

        @foreach (var language in Model.OtherLanguages)
        {
            <li>
                <a href="~/Abp/Languages/Switch?culture=@(language.CultureName)&uiCulture=@(language.UiCultureName)&returnUrl=@(System.Net.WebUtility.UrlEncode(Context.Request.GetEncodedPathAndQuery()))">@language.DisplayName</a>
            </li>
        }
    </ul>
}
