@page
@using Dev.Store.Web.Public.Pages.IndexComponents.HomeSliderComponent;
@model Dev.Store.Web.Public.Pages.Editor.IndexModel
@{
    ViewBag.FluidLayout = true;
}
@section styles {

    <abp-style src="/Pages/Editor/Index.css" />
    <link href="~/contentbuilder/contentbuilder.css" rel="stylesheet" />
  
}
@section scripts {
    <script src="~/contentbuilder/contentbuilder.min.js"></script>
    <script src="~/assets/minimalist-blocks/content.js"></script>
    <abp-script src="/Pages/Editor/Index.js" />
}

<div class="ss-ss-ss" style="min-width:250px;margin-top:25px;margin-bottom:25px">
</div>