.product-right .size-box ul li {
    height: auto !important;
    width: auto !important;
    border-radius: unset !important;
    padding: 7px !important;
    margin-right: 10px !important;
    margin-bottom: 10px !important;
    cursor: pointer !important;
    border: 1px solid #efefef !important;
}

.btn-solid {
    background-size: 1000px !important;
}

.ratio_asos .bg-size:before {
    padding-top: 65% !important;
    content: "";
    display: block;
}

.full-width {
    width: 100% !important;
}

td {
    padding-left: 0px !important
}

.accordion > .card {
    border-radius: 0px !important;
}

.btn-link {
    text-decoration: none !important;
    color: black !important;
}

.size-active {
    border-radius: 2px;
    border: 2px solid #40484e;
}

.p-10 {
    padding: 10px;
    margin: auto;
}

.size-slick.slick-initialized.slick-slider {
    padding: 10px !important
}

.product-size-measurement {
    color: var(--bs-body-color);
    font-size: 15px
}

.product-size-price {
    color: var(--bs-body-color);
    font-size: 16px;
    font-weight: 700
}


th {
    padding: unset !important;
}

.accordion > .card {
    border-radius: 0px !important;
}

    .accordion > .card > .card-header {
        padding: 4px !important;
    }

.btn-link {
    text-decoration: none !important;
    color: black !important;
}
