.product-right .size-box ul li {
    height: auto !important;
    width: auto !important;
    border-radius: unset !important;
    padding: 7px !important;
    margin-right: 10px !important;
    margin-bottom: 10px !important;
    cursor: pointer !important;
    border: 1px solid #efefef !important;
}

.btn-solid {
    background-size: 1000px !important;
}

.ratio_asos .bg-size:before {
    padding-top: 65% !important;
    content: "";
    display: block;
}

@media only screen and (max-width: 600px) {
    .product-details {
        margin-top: 15px
    }
    .slider-right-nav{
        display:none;
    }
    .owl-item{
        width:45%!important;
    }
}



.full-width {
    width: 100% !important;
}

td {
    padding-left: 0px !important
}

.accordion > .card {
    border-radius: 0px !important;
    margin-bottom: 15px;
}

.btn-link {
    text-decoration: none !important;
    color: black !important;
}

.size-active {
    border-radius: 2px;
    border: 2px solid #40484e;
}

.size-deactive {
    border-radius: 2px;
    border: 2px solid #ffffff;
}

.p-10 {
    padding: 10px;
    margin: auto;
}

.size-slick.slick-initialized.slick-slider {
    padding: 10px !important
}

.product-size-measurement {
    color: var(--bs-body-color);
    font-size: 15px
}

.product-size-price {
    color: var(--bs-body-color);
    font-size: 16px;
    font-weight: 700;
    margin:0px;
    padding:0px;
}


th {
    padding: unset !important;
}

.accordion > .card {
    border-radius: 0px !important;
}

    .accordion > .card > .card-header {
        padding: 4px !important;
        border-bottom: 0px;
    }

.btn-link {
    text-decoration: none !important;
    color: black !important;
}
#contentsizes-card  > .card-body{
        padding:0px;
}
#product-sizes{
    padding:5px!important;
}
#contentsets-card > .card-body {
    padding:5px 10px 5px 10px;
}


input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
    border: 0;
    display: inline-flex;
}

    .number-input,
    .number-input * {
        box-sizing: border-box;
    }

        .number-input button {
            outline: none;
            -webkit-appearance: none;
            background-color: var(--theme-color);
            border: none;
            align-items: center;
            justify-content: center;
            width: 1.1rem;
            height: 1.1rem;
            cursor: pointer;
            margin: 0;
            position: relative;
            box-shadow: 0px 0px 1px #474747;
            color: white;
        }

            .number-input button:before,
            .number-input button:after {
                display: inline-block;
                position: absolute;
                content: '';
                width: 0.5rem;
                height: 2px;
                background-color: white;
                transform: translate(-50%, -50%);
            }

            .number-input button.plus:after {
                transform: translate(-50%, -50%) rotate(90deg);
            }

        .number-input input[type=number] {
            max-width: 2rem;
            padding: .5rem;
            border: none;
            border-width: 0 2px;
            font-size: 1rem;
            height: 1.1rem;
            font-weight: bold;
            text-align: center;
            color: #000000;
        }



.description {
    font-family: 'Titillium Web', sans-serif !important;
}

    .description td:first-child {
        font-weight: bold !important;
    }

#producttables > tr > td {
    border-top: 1px !important;
}

.productdesc > .panel-body > .row > .table > tbody > tr > td {
    border-top: 1px !important;
}

#producttables > tr > td, #producttables > tr > th {
    padding: 0 8px 8px 0px;
    font-size: 14px;
    letter-spacing: 0.2px;
}

#producttables td:first-child {
    width: 190px;
    font-size: 14px;
    letter-spacing: 0.2px;
}

.row > h4 {
    background-color: #fcfcfc;
    border-color: #efefef;
    color: #666459;
    font-size: 15px;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-bottom: 0px;
}

.pdtable {
    width: 100%;
    border-top: 1px solid #ddd;
}

    .pdtable > tbody > tr > td, .pdtable > tbody > tr > th {
        text-align: left !important;
        padding: 8px;
        border-top: 1px solid #ddd;
    }

        .pdtable > tbody > tr > td > address, .pdtable > tbody > tr > th > address {
            margin-bottom: 2px !important;
        }

.productdesc > .panel-body > .row > table:not(.table) {
    width: 100%;
    border-top: 1px solid #ddd;
}

    .productdesc > .panel-body > .row > table:not(.table) > tbody > tr > td, .productdesc > .panel-body > .row > table:not(.table) > tbody > tr > th {
        text-align: left !important;
        padding: 8px;
        border-top: 1px solid #ddd;
    }

        .productdesc > .panel-body > .row > table:not(.table) > tbody > tr > td > address, .productdesc > .panel-body > .row > table:not(.table) > tbody > tr > th > address {
            margin-bottom: 2px !important;
        }
#productshortdesc .row {
    padding: 25px 0;
    text-align: center;
    margin: 10px 0;
    font-size: 16px;
}

.panel-body .row p {
    text-align: left;
}

.panel-body .row .col-md-6 {
    padding-left: 0;
    padding-right: 0;
    min-height: 40px;
}

a.show_hide {
    color: #333;
}

i#minuscollapse {
    float: right;
    text-decoration: none;
}

a.show_hided {
    color: #333;
}

i#minuscollapsed {
    float: right;
    text-decoration: none;
}

a.show_hidei {
    color: #333;
}

i#minuscollapsei {
    float: right;
    text-decoration: none;
}

.ps-img-area {
    float: left;
}

.ps-text-area {
    width: calc(100% - 165px);
    padding-left: 15px;
    display: inline-block;
}

.productshordesc .panel-body {
    position: relative;
}

    .productshordesc .panel-body:before {
        content: "";
        position: absolute;
        width: 30%;
        height: 2px;
        background-color: #fedb58;
        top: 30px;
        left: 15px;
    }

    .productshordesc .panel-body:after {
        content: "";
        position: absolute;
        width: 30%;
        height: 2px;
        background-color: #fedb58;
        bottom: 30px;
        right: 15px;
    }

.productshordesc .row:before {
    width: 25px;
    height: 25px;
    float: left;
    background-image: url(/assets/images/product_detail/interior-sign.svg);
    background-position: 2px;
    background-repeat: no-repeat;
    position: absolute;
    top: 17px;
    left: 30px;
    background-color: white;
}

.productshordesc .row:after {
    width: 25px;
    height: 25px;
    float: left;
    background-image: url(/assets/images/product_detail/interior-sign.svg);
    background-position: 2px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 17px;
    right: 30px;
    background-color: white;
    z-index: 1;
    transform: rotate(180deg);
}
