.product-right .size-box ul li {
    height: auto !important;
    width: auto !important;
    border-radius: unset !important;
    padding: 7px !important;
    margin-right: 10px !important;
    margin-bottom: 10px !important;
    cursor: pointer !important;
    border: 1px solid #efefef !important;
}

.btn-solid {
    background-size: 1000px !important;
}

.ratio_asos .bg-size:before {
    padding-top: 65% !important;
    content: "";
    display: block;
}

.full-width {
    width: 100% !important;
}

td {
    padding-left: 0px !important
}

.accordion > .card {
    border-radius: 0px !important;
    margin-bottom: 15px;
}

.btn-link {
    text-decoration: none !important;
    color: black !important;
}

.size-active {
    border-radius: 2px;
    border: 2px solid #40484e;
}

.size-deactive {
    border-radius: 2px;
    border: 2px solid #ffffff;
}

.p-10 {
    padding: 10px;
    margin: auto;
}

.size-slick.slick-initialized.slick-slider {
    padding: 10px !important
}

.product-size-measurement {
    color: var(--bs-body-color);
    font-size: 15px
}

.product-size-price {
    color: var(--bs-body-color);
    font-size: 16px;
    font-weight: 700;
    margin:0px;
    padding:0px;
}


th {
    padding: unset !important;
}

.accordion > .card {
    border-radius: 0px !important;
}

    .accordion > .card > .card-header {
        padding: 4px !important;
        border-bottom: 0px;
    }

.btn-link {
    text-decoration: none !important;
    color: black !important;
}
#contentsizes-card  > .card-body{
        padding:0px;
}
#product-sizes{
    padding:5px!important;
}
#contentsets-card > .card-body {
    padding:5px 10px 5px 10px;
}


input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
    border: 0;
    display: inline-flex;
}

    .number-input,
    .number-input * {
        box-sizing: border-box;
    }

        .number-input button {
            outline: none;
            -webkit-appearance: none;
            background-color: var(--theme-color);
            border: none;
            align-items: center;
            justify-content: center;
            width: 1.1rem;
            height: 1.1rem;
            cursor: pointer;
            margin: 0;
            position: relative;
            box-shadow: 0px 0px 1px #474747;
            color: white;
        }

            .number-input button:before,
            .number-input button:after {
                display: inline-block;
                position: absolute;
                content: '';
                width: 0.5rem;
                height: 2px;
                background-color: white;
                transform: translate(-50%, -50%);
            }

            .number-input button.plus:after {
                transform: translate(-50%, -50%) rotate(90deg);
            }

        .number-input input[type=number] {
            font-family: sans-serif;
            max-width: 2rem;
            padding: .5rem;
            border: none;
            border-width: 0 2px;
            font-size: 1rem;
            height: 1.1rem;
            font-weight: bold;
            text-align: center;
            color: #000000;
        }