@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@using Dev.Store.Localization
@inject IHtmlLocalizer<StoreResource> L
@model Dev.Store.Web.Pages.ProductImages.ProductImage.CreateModalModel
@{
    Layout = null;
}

<abp-modal size="ExtraLarge">
    <abp-modal-header title="@L["CreateProductImage"].Value"></abp-modal-header>
    <abp-modal-body>
        <div id="drag-drop-area" style="width:100%;margin-bottom:25px"></div>
    </abp-modal-body>
</abp-modal>
