/* Your Global Styles */

:root .lpx-brand-logo {
    --lpx-logo: url('/images/logo/leptonx/logo-light.png');
    --lpx-logo-icon: url('/images/logo/leptonx/logo-light-thumbnail.png');
}

.k-grid-excel {
    margin-left: auto;
}

.hide {
    display: none;
}


    .k-grid-toolbar .k-button {
        background-color: transparent;
        border: none;
        color: black;
    }
        .k-grid-toolbar .k-button:hover {
            background-color: #5c6bc0;
            border-color: #5c6bc0;
            color: black;
        }

