@*@model Dev.Store.Web.Public.Pages.IndexComponents.HomeSliderComponent.HomeSliderComponent*@
@{
    Layout = null;
    ViewBag.FluidLayout = true;
}
<section class="p-0">
    <div class="slide-1 home-slider">
        <div>
            <div class="home text-start">
                <img src="../assets/images/home-banner/13.jpg" alt="" class="bg-img blur-up lazyload">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider-contain">
                                <div>
                                    <h4>starting from $50</h4>
                                    <h1>harmony chair</h1><a href="#" class="btn btn-solid">shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="home text-start">
                <img src="../assets/images/home-banner/12.jpg" alt="" class="bg-img blur-up lazyload">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider-contain">
                                <div>
                                    <h4>starting from $100</h4>
                                    <h1>harmony sofa</h1><a href="#" class="btn btn-solid">shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="home text-start">
                <img src="../assets/images/home-banner/64.jpg" alt="" class="bg-img blur-up lazyload">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="slider-contain">
                                <div>
                                    <h4>starting from $50</h4>
                                    <h1>harmony lamp</h1><a href="#" class="btn btn-solid">shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>