@page
@using Dev.Store.Permissions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Dev.Store.Web.Pages.HomeSliders.HomeSlider
@using Dev.Store.Localization
@using Dev.Store.Web.Menus
@model IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<StoreResource> L
@inject IAuthorizationService Authorization
@{
    PageLayout.Content.Title = L["HomeSlider"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:HomeSlider"].Value);
    PageLayout.Content.MenuItemName = StoreMenus.HomeSlider;
}

@section scripts
{
    <abp-script src="/Pages/HomeSliders/HomeSlider/index.js" />
}
@section styles
{
    <abp-style src="/Pages/HomeSliders/HomeSlider/index.css"/>
}

<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["HomeSlider"]</abp-card-title>
            </abp-column>
            <abp-column size-md="_6" class="text-end">
			    @if (await Authorization.IsGrantedAsync(StorePermissions.HomeSlider.Create))
                {
                <abp-button id="NewHomeSliderButton"
                            text="@L["CreateHomeSlider"].Value"
                            icon="plus"
                            button-type="Primary" />
                }
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-row class="mb-3">
            <a abp-collapse-id="HomeSliderCollapse" class="text-secondary">@L["TableFilter"] </a>
        </abp-row>
        <abp-table striped-rows="true" id="HomeSliderTable" class="nowrap"/>
    </abp-card-body>
</abp-card>
