@using Dev.Store.Localization;
@using Dev.Store.Permissions;
@using Dev.Store.ProductImages.Dtos;
@using Dev.Store.Web.Pages.Products.Detail.Components.ProductSeoComponenet;
@using Dev.Store.Web.Pages.SeoSettings.SeoSetting.ViewModels;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@inject IAuthorizationService Authorization
@inject IHtmlLocalizer<StoreResource> L
@model Model
@{
    Layout = null;

    var _defaultProductImage = await Authorization.IsGrantedAsync(StorePermissions.ProductImage.Default);

}
<style>

    .product-image {
        width: 350px;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }

    .form-switch .form-check-input {
        margin-left: -1px !important;
    }

</style>
@section scripts
    {

    }

<abp-card>
    <abp-card style="box-shadow:none">
        <abp-card-header>
            <div class="row">
                <div class="col">
                    <h2 class="card-title float-start">
                        @L["SeoSettings"].Value
                    </h2>
                </div>
            </div>
        </abp-card-header>
        <abp-card-body>

            <form data-ajaxForm="true" asp-page="/SeoSettings/SeoSetting/EditModal" autocomplete="off" id="categoryForm">

                <abp-input asp-for="ViewModel.Title"></abp-input>
                <abp-input asp-for="ViewModel.Description"></abp-input>
                <div class="mt-3">
                    @(Html.Kendo().MultiSelectFor(x => x.ViewModel._Keywords)
                        .DownArrow(true)
                        .DataTextField("Name")
                        .DataValueField("Name")
                        .HtmlAttributes(new { style = "width: 100%" })
                        .Filter("contains")
                        .DataSource(source =>
                        {

                            source.Custom().Transport(c => c.Read(g => g.Url("/api/app/keyword/data-source").Type(HttpVerbs.Get))).Schema(g => g.Data("Data").Total("Total"))
                            .ServerFiltering(true).ServerSorting(true).ServerPaging(true).Page(1).PageSize(100).Type("aspnetmvc-ajax");
                        }).Deferred()
                        )
                </div>

                <div class="mt-3">

                    <button class="btn btn-primary" type="submit" style="float:right">Kaydet</button>

                </div>
            </form>






        </abp-card-body>
    </abp-card>
</abp-card>

