@using Dev.Store.Localization;
@using Dev.Store.Permissions;
@using Dev.Store.ProductImages.Dtos;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IAuthorizationService Authorization
@inject IHtmlLocalizer<StoreResource> L
@model Guid
@{
    Layout = null;

    var _defaultProductImage = await Authorization.IsGrantedAsync(StorePermissions.ProductImage.Default);
    var createProductImage = await Authorization.IsGrantedAsync(StorePermissions.ProductImage.Create);
    var deleteProductImage = await Authorization.IsGrantedAsync(StorePermissions.ProductImage.Delete);
    var updateProductImage = await Authorization.IsGrantedAsync(StorePermissions.ProductImage.Update);
}
<script>

    var ImageProductId = '@Model'

</script>
<style>

    .product-image {
        width: 350px;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }

    .form-switch .form-check-input {
        margin-left: -1px !important;
    }

    .product {
        float: left;
        position: relative;
        height: 270px;
        /* padding: 10px; */
    }

        .product img {
            height: 500px;
        }

    .k-listview:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .deletecontext {
        visibility: hidden;
    }

    .product:hover .deletecontext {
        visibility: visible;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        margin: 0;
        line-height: 110px;
        vertical-align: middle;
        text-align: center;
        color: #fff;
        background-color: rgba(0,0,0,0.75);
        transition: background .2s linear, color .2s linear;
        -moz-transition: background .2s linear, color .2s linear;
        -webkit-transition: background .2s linear, color .2s linear;
        -o-transition: background .2s linear, color .2s linear;
    }

    .vitrin-image {
        position: absolute;
        top: 0px;
        background: #F0E68C;
        text-align: center;
        padding: 11px 10px 0px 11px;
        margin-bottom: 0px;
        font-weight: 600;
    }

    }
</style>
<abp-style src="/custom-libs/uppy/uppy.min.css"></abp-style>
@section scripts
    {


    }

<abp-card>
    <abp-card style="box-shadow:none">
        <abp-card-header>
            <div class="row">
                <div class="col">
                    <h2 class="card-title float-start">
                        @L["ProductImage"].Value
                    </h2>
                    @if (createProductImage)
                    {
                        <abp-button text="@L["CreateProductImage"].Value" icon="plus" class="float-end ml-3" onclick="productImage.functions.create()" button-type="Secondary" />
                    }
                </div>
            </div>
        </abp-card-header>
        <abp-card-body>
            @(Html.Kendo().ListView<ProductImageDto>()
                .Name("ProductImageGrid")
                .TagName("div")
                .ClientTemplateId("template")
                .DataSource(dataSource => dataSource
                .WebApi()
                .Read(read => read.Url("/api/app/product-image/data-source"))
                .Filter(a => a.Add(b => b.ProductId).IsEqualTo(Model))
                .PageSize(21)
                )
                .Selectable(ListViewSelectionMode.Single)
                .Scrollable(ListViewScrollableMode.Endless)
                .HtmlAttributes(new { style = "height:650px;" })
                .Pageable(pageable => pageable
                .Refresh(true)
                .ButtonCount(5)
                .PageSizes(new[] { 5, 15, 21 })
                ).Deferred()
                )
        </abp-card-body>
    </abp-card>
</abp-card>


<script type="text/html" id="template">
     <div class="product">
        <img src="#:UploadFile.FilePath#" />
           #if(IsMain){# 
               <div class="vitrin-image" >
                    <p >Vitrin Resmi</p>
               </div> 
           #}#
       
        <div class="deletecontext">
            <div stlye="display:flex">
                #if(!IsMain){#  <button class="btn btn-primary" onclick="productImage.functions.setMain('#:Id#')" style="margin-right:25px">Vitrin Resmi Yap</button> #}#
                <button class="btn btn-secondary" onclick="productImage.functions.delete('#:Id#')">Sil</button>
            </div>
        </div>
    </div>
</script>

