@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@using Dev.Store.Localization
@inject IHtmlLocalizer<StoreResource> L
@model Dev.Store.Web.Pages.Entities.Category.CreateModalModel
@{
    Layout = null;
}
<link href="~/custom-libs/uppy/uppy.min.css" rel="stylesheet" />
<abp-script src="/custom-libs/uppy/uppy.min.js" />
<abp-script src="/pages/categories/CreateModal.js" />
<abp-script src="/custom-libs/uppy/tr_tr.min.js"/>
<form data-ajaxForm="true" asp-page="/Categories/CreateModal" autocomplete="off" id="categoryForm">
    <abp-modal size="Large">
        <abp-modal-header title="@L["CreateCategory"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="ViewModel.CategoryParentId"></abp-input>
            <abp-input data-toggle="slugify" data-target="#ViewModel_Link" asp-for="ViewModel.Name"></abp-input>
            <abp-input asp-for="ViewModel.Link"></abp-input>
            <abp-input asp-for="ViewModel.Description"></abp-input>
            <abp-input asp-for="ViewModel.IsVisible"></abp-input>
            <input id="files" type="hidden" name="files" />
            <div id="drag-drop-area"></div>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
