body {
    font-family: 'Titillium Web', sans-serif !important;
}

:root {
    --theme-color: #0E2954 !important;
    --theme-button-color: #0E2954 !important;
}

.theme-color-1 {
    --theme-color: #000000;
}

.user-name {
    color: var(--theme-color);
    font-size: 1.3em;
}

.btn-solid {
    background-image: linear-gradient(30deg, var(--theme-button-color) 50%, transparent 50%) !important;
    border: 2px solid var(--theme-button-color);
}
