body {
    font-family: 'Titillium Web', sans-serif !important;
}

:root {
    --theme-color: #191EEC !important;
}

.theme-color-1 {
    --theme-color: #191EEC;
}

.user-name {
    color: var(--theme-color);
    font-size:1.2em;
}