@using System.Linq
@using Microsoft.AspNetCore.Http.Extensions
@using Dev.Store.AspNetCore.Mvc.UI.Theme.MultiKart.Themes.MultiKart.Components.Toolbar.Cart



<li id="sub-total-li">
    <div class="total">
        <h5>subtotal : <span>$299.00</span></h5>
    </div>
</li>
<li>
    <div class="buttons">
        <a href="cart.html" class="view-cart">view cart</a>
        <a href="#" class="checkout">checkout</a>
    </div>
</li>


<script type="text/html">
        <li data-id="{{id}}">
        <div class="media">
            <a href="{{link}}">
                <img class="me-3"
                     src="{{image}}" alt="">
            </a>
            <div class="media-body">
                <a href="#">
                    <h4>{{name}}</h4>
                </a>
                <h4><span>{{price}}</span></h4>
            </div>
        </div>
        <div class="close-circle" onclick="cart.functions.removeItem({{id}})">
            <a href="#">
                <i class="fa fa-times"
                   aria-hidden="true"></i>
            </a>
        </div>
    </li>
</script>