@using Volo.Abp.UI.Navigation
@model ApplicationMenuItem

@foreach (var category in Model.Items)
{
    if (category.Items.Count() == 0)
    {
        <li><a href="@category.Url">@category.DisplayName</a></li>
    }
    else
    {
        <li>
            <a href="@category.Url">@category.DisplayName</a>
            <ul>
                @await Html.PartialAsync("~/Themes/Multikart/Components/SideNavbarMenu/_MenuItem.cshtml", category)
            </ul>
        </li>
    }
}

