@using Localization.Resources.AbpUi;
@using Microsoft.AspNetCore.Mvc.Localization;
@using Volo.Abp.UI.Navigation
@model ApplicationMenu
@inject IHtmlLocalizer<AbpUiResource> L

<div class="navbar">
    <a href="javascript:void(0)" onclick="openNav()">
        <i class="fa fa-bars sidebar-bar" aria-hidden="true"></i>
    </a>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="sidebar-overlay" onclick="closeNav()"></a>
        <nav>
            <a href="javascript:void(0)" onclick="closeNav()">
                <div class="sidebar-back text-start">
                    <i class="fa fa-angle-left pe-2"
                       aria-hidden="true"></i> @L["Back"].Value
                </div>
            </a>
            <!-- Vertical Menu -->
            <ul id="sub-menu" class="sm pixelstrap sm-vertical">

                @foreach (var category in Model.Items)
                {

                    <li>
                        <a href="@category.Url">@category.DisplayName</a>
                        @if (category.Items.Count() > 0)
                        {
                            <ul class="mega-menu @category.ElementId">
                                @await Html.PartialAsync("~/Themes/Multikart/Components/SideNavbarMenu/_MenuItem.cshtml", category)
                            </ul>
                        }
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>