@*@model Dev.Store.Web.Public.Pages.IndexComponents.HomeSliderComponent.HomeSliderComponent*@
@{
    Layout = null;
    ViewBag.FluidLayout = true;
}
<section class="banner-furniture ratio_45 banner-padding">
    <div class="container-fluid">
        <div class="row partition3">
            <div class="col-md-4">
                <a href="#">
                    <div class="collection-banner p-right text-end">
                        <div class="img-part">
                            <img src="../assets/images/furniture/2banner1.jpg" alt=""
                                 class="img-fluid blur-up lazyload bg-img">
                        </div>
                        <div class="contain-banner banner-3">
                            <div>
                                <h4>save 30%</h4>
                                <h2>sofa</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#">
                    <div class="collection-banner p-right text-end">
                        <div class="img-part">
                            <img src="../assets/images/furniture/2banner2.jpg" alt=""
                                 class="img-fluid blur-up lazyload bg-img">
                        </div>
                        <div class="contain-banner banner-3">
                            <div>
                                <h4>save 60%</h4>
                                <h2>new arrival</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#">
                    <div class="collection-banner p-right text-end">
                        <div class="img-part">
                            <img src="../assets/images/furniture/2banner3.jpg" alt=""
                                 class="img-fluid blur-up lazyload bg-img">
                        </div>
                        <div class="contain-banner banner-3">
                            <div>
                                <h4>save 60%</h4>
                                <h2>chair</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>