@using Dev.Store
@model Dev.Store.Web.Public.Pages.IndexComponents.HomeSliderComponent.HomeSliderModel
@{
    Layout = null;
    ViewBag.FluidLayout = true;
}

@if (Model.Sliders.Any())
{
    var first = Model.Sliders.FirstOrDefault();
    <section class="p-0">
        <div class="full-banner parallax text-center p-left">
            <img src="@first.UploadFile.FilePath" alt="" class="bg-img blur-up lazyload">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="banner-contain">
                            <h2>@first.Title</h2>
                            <h3>@first.Subtitle</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
